html, body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

.header{
    max-width: 500px;
    margin: 50px auto;
    background-color: white;
    display: flex;
    justify-content: center;
}

.content{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.main-content{
background-color: white;
margin: 20px;
padding: 20px;
order: 2;
flex: 2;
}

.sidebar-1{
background-color: white;
margin: 20px;
padding: 20px;
order: 1;
flex: 1;
}

.sidebar-2{
background-color: white;
margin: 20px;
padding: 20px;
order: 3;
flex: 1;
}

.flash-cards{
display: flex;
}


.card{
    padding: 25px;
    box-sizing: border-box;
    margin: 40px;
}

.card-1{
    background-color: lightpink;
}

.card-2{
    background-color: limegreen;
}

.card-3{
    background-color: aqua;
}

.table{
    display: flex;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 100px;
    margin-top: 50px;
  justify-content: center;
}

.main-page{
    background-color: rgb(113, 243, 182);
    padding: 15px;
    flex: 1
}

.secondary-page{
flex: 1;
display: flex;
flex-direction: column;
justify-content: space-between;

}

.section-1{
    background-color: rgb(135, 166, 250);
    margin: 0px;
    padding: 20px;
}

.section-2{
    background-color: rgb(105, 129, 197);
    margin: 0px;
padding: 20px;
}

.section-3{
    background-color: rgb(74, 91, 139);
    margin: 0px;
padding: 20px;
}

@media (max-width: 769px){
.flash-cards{
display: flex;
flex-direction: column;
}

.table{
display: flex;
flex-direction: column;
margin: 40px;
}

.content{
display: flex;
flex-direction: column;
margin: 40px;
}

.main-content{
  order: 1;
  margin: 0px;
}
.sidebar-1{order: 2;
margin: 0px;}
.sidebar-2{order: 3;
margin: 0px;}


}
