html, body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

.header{
    max-width: 500px;
    margin: 50px auto;
    background-color: white;
    justify-content: center;
    text-align: center;
}

.content, .flash-cards, .table{
    max-width: 1200px;
    background-color: white;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    text-align: justify;
    flex-direction: column;

}

.card{
    padding: 25px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.card-1{
    background-color: lightpink;

}

.card-2{
    background-color: limegreen;
}

.card-3{
    background-color: aqua;
}

.table{
    max-width: 850px;
    background-color: antiquewhite;
    margin-bottom: 50px;
}

.main-page{
    background-color: rgb(113, 243, 182);
    padding: 15px;
}

.secondary-page{

}

.section-1{
    background-color: rgb(135, 166, 250);
}

.section-2{
    background-color: rgb(105, 129, 197);

}

.section-3{
    background-color: rgb(74, 91, 139);
}

@media only screen and (min-width: 500px){
  .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .flash-cards{
    display: flex;
    justify-content: column;
    flex-direction: row;
  }

  .table{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: flex-end;
  }

  .main-content{
    order: 2;
    flex: 3;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .sidebar-1{
    order: 1;
    flex: 1;
  }

  .sidebar-2{
    order: 3;
    flex: 1;
  }

  .card{
    margin: 1vw;
  }

  .main-page{
    flex: 1;
  }

  .secondary-page{

    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    text-align: center;
  }

}
