html, body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

.header{
    max-width: 500px;
    margin: 50px auto;
    background-color: white;
}

.content, .flash-cards, .table{
    max-width: 1200px;
    background-color: white;
    padding: 20px;
    margin: 0 auto;
}

.card{
    padding: 25px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.card-1{
    background-color: lightpink;
}

.card-2{
    background-color: limegreen;
}

.card-3{
    background-color: aqua;
}

.table{
    max-width: 850px;
    background-color: antiquewhite;
    margin-bottom: 50px;
}

.main-page{
    background-color: rgb(113, 243, 182);
    padding: 15px;
}

.secondary-page{
    
}

.section-1{
    background-color: rgb(135, 166, 250);
}

.section-2{
    background-color: rgb(105, 129, 197);

}

.section-3{
    background-color: rgb(74, 91, 139);
}

